trunk/paccman-io-1_0_0_0/src/org/paccman/xml/_1_0_0_0/paccman.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 
    Copyright (C)    2005 Joao F. (joaof@sourceforge.net)
                     http://paccman.sourceforge.net 

    This program is free software; you can redistribute it and/or modify      
    it under the terms of the GNU General Public License as published by      
    the Free Software Foundation; either version 2 of the License, or         
    (at your option) any later version.                                       

    This program is distributed in the hope that it will be useful,           
    but WITHOUT ANY WARRANTY; without even the implied warranty of            
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             
    GNU General Public License for more details.                              

    You should have received a copy of the GNU General Public License         
    along with this program; if not, write to the Free Software               
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA 
 
-->

<!--
Document   : paccman.xsd
Created on : 20 décembre 2004, 19:09
Author     : joao
Description:
Purpose of XML Schema document follows.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:pm="http://www.paccman.org/paccman"
    targetNamespace="http://www.paccman.org/paccman"
    elementFormDefault="qualified">

    <!-- 
    TODO design your XML schema here.
    XML Schema Primer: http://www.w3.org/TR/xmlschema-0/
    Structures recommendation: http://www.w3.org/TR/xmlschema-1/
    Datatypes recommendation: http://www.w3.org/TR/xmlschema-2/

    Example: there is an <address-book> element specified.
    The <address-book> can contain multiple <item> elements
    with unique <name> values.
    Notice that <mobile> element is specified as a restriction of xsd:string
    and must match the pattern: three digits followed by a hypen followed 
    by six digits.
    -->

    <xsd:element name="paccman">
        <xsd:complexType>
            <xsd:sequence>

                <!-- BANKS -->
                <xsd:element name="banks">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="bank" type="pm:BankType" minOccurs="0" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <!-- CATEGORIES -->
                <xsd:element name="categories">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="category" type="pm:CategoryType" minOccurs="0" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <!-- PAYEES -->
                <xsd:element name="payees">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="payee" type="pm:PayeeType" minOccurs="0" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <!-- PAYMENT TYPES-->
                <xsd:element name="payment-types">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="payment-type" type="pm:PaymentTypeType" minOccurs="0" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <!-- ACCOUNTS -->
                <xsd:element name="accounts">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="account" type="pm:AccountType" minOccurs="0" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            
            </xsd:sequence>
            <xsd:attribute name="title" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="BankType">
        <xsd:sequence>
            <xsd:element name="agency" type ="xsd:string" minOccurs="0" />
            <xsd:element name="addressNumber" type ="xsd:string" minOccurs="0" />
            <xsd:element name="addressLine1" type ="xsd:string" minOccurs="0" />
            <xsd:element name="addressLine2" type ="xsd:string" minOccurs="0" />
            <xsd:element name="addressCity" type ="xsd:string" minOccurs="0" />
            <xsd:element name="addressZip" type ="xsd:string" minOccurs="0" />
            <xsd:element name="addressCountry" type ="xsd:string" minOccurs="0" />
            <xsd:element name="telephone" type ="xsd:string" minOccurs="0" />
            <xsd:element name="fax" type ="xsd:string" minOccurs="0" />
            <xsd:element name="internet" type ="xsd:string" minOccurs="0" />
            <xsd:element name="email" type ="xsd:string" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="CategoryBaseType">
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="SubCategoryType">
        <xsd:complexContent>
            <xsd:extension base="pm:CategoryBaseType" >
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CategoryType">
        <xsd:complexContent>
            <xsd:extension base="pm:CategoryBaseType" >
                <xsd:sequence>
                    <xsd:element name="income" type ="xsd:boolean" minOccurs="0" />
                    <xsd:element name="subcategory" type ="pm:SubCategoryType" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="PayeeType">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="PaymentTypeType">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="AccountType">
        <xsd:sequence>
            <xsd:element name="bank" type ="xsd:string" />
            <xsd:element name="initial-balance" type ="xsd:decimal" />
            <xsd:element name="account-number" type="xsd:string" />
            <xsd:element name="account-number-key" type="xsd:string" />
            <xsd:element name="note" type="xsd:string" />
            <xsd:element name="last-reconciliation-date" type="xsd:date" />
            <xsd:element name="last-reconciliation-balance" type="xsd:decimal" />
            <xsd:element name="pending-reconciliation" type="xsd:boolean" />
            <xsd:element name="pending-reconciliation-date" type="xsd:date" />
            <xsd:element name="pending-reconciliation-balance" type="xsd:decimal" />
            <xsd:element name="transactions" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:group ref="pm:transaction" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scheduled-transactions" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="scheduled-transaction" type="pm:ScheduledTransactionType" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="holder-name" type="xsd:string" />
            <xsd:element name="holder-adress" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:simpleType name="reconciled-status">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="U"/> <!-- unreconciled -->
            <xsd:enumeration value="M"/> <!-- marked       -->
            <xsd:enumeration value="R"/> <!-- reconciled   -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="TransactionBaseType">
        <xsd:sequence>
            <xsd:element name="amount" type ="xsd:decimal" />
            <xsd:element name="value-date" type ="xsd:date" />
            <xsd:element name="transaction-date" type ="xsd:date" />
            <xsd:element name="note" type="xsd:string" minOccurs="0" />
            <xsd:element name="label" type="xsd:string" minOccurs="0" />
            <xsd:element name="reconciliationState" type="pm:reconciled-status" />
            <xsd:element name="reconciliationDate" type="xsd:date" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PaymentType">
        <xsd:complexContent>
            <xsd:extension base="pm:TransactionBaseType" >
                <xsd:sequence>
                    <xsd:element name="payee" type ="xsd:string" />
                    <xsd:element name="payment-type" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SimplePaymentType">
        <xsd:complexContent>
            <xsd:extension base="pm:PaymentType" >
                <xsd:sequence>
                    <xsd:element name="category-path" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SplitPaymentType">
        <xsd:complexContent>
            <xsd:extension base="pm:PaymentType" >
                <xsd:sequence>
                    <xsd:element name="transaction" type="pm:SplitTransactionType" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="TransferType">
        <xsd:complexContent>
            <xsd:extension base="pm:TransactionBaseType" >
                <xsd:sequence>
                    <xsd:element name="to-account" type ="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SplitTransactionType">
        <xsd:sequence>
            <xsd:element name="amount" type ="xsd:decimal" />
            <xsd:element name="category-path" type ="xsd:string" />
            <xsd:element name="note" type ="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="transaction">
        <xsd:choice>
            <xsd:element name="simple_payment" type="pm:SimplePaymentType" />
            <xsd:element name="split_payment" type="pm:SplitPaymentType" />
            <xsd:element name="transfer" type="pm:TransferType" />
        </xsd:choice>
    </xsd:group>
    
    <xsd:simpleType name="period-unit">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DAY"   /> <!-- unreconciled -->
            <xsd:enumeration value="WEEK"  /> <!-- marked       -->
            <xsd:enumeration value="MONTH" /> <!-- reconciled   -->
            <xsd:enumeration value="YEAR"  /> <!-- reconciled   -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ScheduledTransactionType">
        <xsd:sequence>
            <xsd:element name="identifier" type ="xsd:string" />
            <xsd:element name="description" type ="xsd:string" />
            <xsd:element name="period" type ="xsd:int" />
            <xsd:element name="period-unit" type ="pm:period-unit" />
            <xsd:element name="next-occurence" type="xsd:date" />
            <xsd:element name="automatic" type="xsd:boolean" />
            <xsd:element name="fixed-amount" type="xsd:boolean" />
            <xsd:element name="schedule-days" type="xsd:int" /> <!-- number of days between the registration 
                                                                     of the transaction and the scheduled date 
                                                                     of the transaction -->
            <xsd:choice>
                <xsd:element name="simple_payment" type="pm:SimplePaymentType" />
                <xsd:element name="split_payment" type="pm:SplitPaymentType" />
                <xsd:element name="transfer" type="pm:TransferType" />
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>


</xsd:schema>

